* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4e54c8;
  --primary-dark: #2d317c;
  --white: rgb(230, 230, 230);
  --white-glass: rgba(230, 230, 230, 0.15);
  --black: rgb(40, 40, 40);
}
